# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI Build, Test, Scanning

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.yml'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.github/*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.6'

    - name: Build
      run: echo build go.mod found

    - name: Test
      run: go test -v ./...


    - uses: JasonEtco/create-an-issue@v2
      env:
        GITHUB_TOKEN: ${{ secrets.ISSUE_TOKEN }}

  use-workflow-template-scan:
      permissions:
        # required for all workflows
        security-events: write

        # required to fetch internal or private CodeQL packs
        packages: read

        # only required for workflows in private repositories
        actions: read
        contents: read
      uses: jha-harness/GitHub-CD-MYKO/.github/workflows/workflow-reusable-sast.yml@main


